<div class="card">
  <div class="card2">
    <img src="../../images/BlankFace.jpg" width="50px"></img>
    <div>
      <div>ธนากร รัตนจริยา</div>
      <span>เลขประจำตัวประชาชน</span>
      <show-appointment style="float:right"></show-appointment>
      <span>1309900986836</span>
    </div>
    <div><span>เพศ</span><span>ชาย</span><span> - เชื้อชาติ</span>
        <span>ไทย</span><span> - ศาสนา</span><span>พุทธ</span>
    </div>
    <div style="margin-left:9%">
    <div>ที่อยู่
    </div>
    <div>123 กรุงเทพ 10002</div>
    <div><span>โทร</span><span> - 0992850130</span></div>
    <div><span>email</span><span> - amgerd_a@hotmail.com</span><a href="#" style="margin-left:30%;color:grey">นัดหมายเพื่ม</a></div>
    </div>
      <a href="#" ng-click="patientInformation.dis()" style="margin-left:40%;color:grey">ยุบให้เล็กลง</a>
  </div>
  <a ng-click="patientInformation.app()" href="#" style="color:black">
  <div class="card3" >
    <img src="../../images/BlankFace.jpg" width="50px"></img>
    <h5>ธนากร รัตนจริยา</h5>
      <div><span>เพศ</span><span> - ชาย</span><span> เชื้อชาติ</span>
      <span> -  ไทย</span>
  </div>
  </a>
</div>