<div class="appointment-wrapper">
  <a href="">
    <div  ng-click="my.modal.showModal()"
          class="appointment">
      <div class="img">

      </div>

      <div class="content">
        <h4 class="name">
          <span ng-bind="my.appointment.patient.firstname"></span>
          <span ng-bind="my.appointment.patient.lastname"></span>
        </h4>
        <p class="short-description">
          <span class="gender">
            เพศ {{my.appointment.patient.gender}}
          </span>
          -
          <span class="nationality">
            เชื้อชาติ {{my.appointment.patient.nationality}}
          </span>
        </p>
      </div>
    </div>
  </a>
</div>
