$block-height: 65px
$padding: 4px

doctor-calendar-appointment
  height: $block-height
  padding: 2 * $padding
  padding-bottom: 0px
  box-sizing: border-box
  display: block
  position: absolute
  z-index: 3
  width: 100%

  .appointment-wrapper

    .appointment:hover
      background-color: darken(white, 3%)

    .appointment
      background-color: rgb(255,255,255)
      height: 100%
      border-radius: $padding
      box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.15)
      padding: 7px
      transition: background-color 0.15s

      .img
        $size: $block-height - $padding - 14px
        background-color: rgb(200,200,200)
        width: $size
        height: $size
        border-radius: $size / 2
        display: inline-block
        vertical-align: middle

      .content
        vertical-align: middle
        display: inline-block
        padding-left: 7px
        color: black

        .name
          font-size: 0.75rem
          font-weight: bold
          margin: 0px
          font-family: "quark"
          color: black

        .short-description
          font-size: 0.75rem
          font-weight: normal
          font-family: "quark"
          margin: 0px
          color: black






