<div class="drug-info card">
  <div class="card-header">

    <div class="actions">
      <button
        ng-click="my.addDrug()"
        class="add btn">
        เพิ่ม
      </button>
    </div>

    <h4 class="title">
      ข้อมูลจ่ายยา
    </h4>
  </div>

  <div class="card-content">

    <ul class="collection with-header">
      <li class="collection-header">
        <h4>วันนี้</h4>
      </li>

      <!-- each drug info -->
      <li class="collection-item">
        <div class="drug-info-each">
          <div class="actions">

            <div>
              <button
                ng-click="my.editDrug()"
                class="edit btn">แก้ไข</button>
            </div>

            <div>
              <button
                ng-click="my.deleteDrug()"
                class="cancel btn">ยกเลิก</button>
            </div>

          </div>

          <div class="content">

            <h5 class="name">Amoxcillin</h5>
            <p class="description">
              รักษาโรคปอดบวม เนื่องจากการติดเชื้อในกระแสเลือด
            </p>
          </div>

          <div style="clear:both;"></div>
        </div>
      </li>

    </ul>

  </div>
</div>
