
<div class="container">
  <h1>{{home.a}}</h1>

  <h1>This is heading 1 in home..</h1>
  <p>this is the the content of the home page, and you can see that the home page contains the navigator on top</p>
  <greet></greet>
  <staffTransac></staffTransac>
  <login-modal name="home.loginModal"></login-modal>
  <button ng-click="home.loginModal.show()">login</button>

  <make-appointment-modal
    name="home.makeAppoinmentModal"></make-appointment-modal>
  <button ng-click="home.makeAppoinmentModal.show()">นัดหมายแพทย์</button>
  
</div>
