<div class="doctor-search">

  <ui-select ng-model="selectedItem">
    <ui-select-match>
        <span ng-bind="$select.selected.firstname"></span>
    </ui-select-match>
    <ui-select-choices repeat="item in (scope.doctorList | filter: $select.search) track by item.id">
        <span ng-bind="item.firstname"></span>
        <span ng-bind="item.lastname"></span>
    </ui-select-choices>
  </ui-select>
  <!-- <div class="input-field">
    <i class="material-icons search prefix">search</i>
    <input  id="doctor_name" type="text" class="validate"
            ng-model="scope.form.doctorName"
            ng-change="scope.getDoctorList(scope.form.doctorName)">
    <label for="doctor_name">ค้นหาแพทย์ตามชื่อ</label>
  </div> -->
</div>
