<div class="doctor-search">

  <ui-select ng-model="scope.form.doctorName" theme="selectize" ng-disabled="disabled" style="width: 300px;">
    <ui-select-match placeholder="Select or search a country in the list...">{{$select.selected.firstname}}</ui-select-match>
    <ui-select-choices repeat="doctor in scope.doctorList | filter: $select.search">
      <span ng-bind-html="doctor.firstname | highlight: $select.search"></span>
      <span ng-bind-html="doctor.lastname | highlight: $select.search"></span>
    </ui-select-choices>
  </ui-select>

</div>
