doctor-calendar-day
  $grey: rgb(235,235,235)
  $block-height: 65px
  $padding: 4px
  $block-count: 40

  font-size: 1rem
  width: 14.285714%
  display: inline-block
  box-sizing: border-box
  vertical-align: top

  .doctor-calendar-day

  .doctor-calendar-day.first
    .calendar-line-layer
      .calendar-line
        border-left: 1px solid $grey

  .calendar-header-date
    $height: 2rem
    width: 14.285714%
    margin-top: -$height
    font-family: "quark"
    font-size: 0.9rem
    line-height: $height
    text-align: center
    font-weight: bold
    color: white
    position: fixed
    z-index: 20

  .calendar-line-layer
    z-index: 1
    top: 0px
    position: absolute
    width: 14.285714%

    .calendar-line
      height: $block-height
      box-sizing: border-box
      border-right: 1px solid $grey

    .calendar-line:nth-child(odd)
      border-top: 1px solid $grey

    .calendar-line:nth-child(even)
      border-top: 1px dashed $grey

  .doctor-time-layer
    position: relative
    width: 100%

  .doctor-gridster-layer
    width: 100%
    height: $block-height * $block-count
    // background-color: rgb(240,240,240)
    //

    .gridster-item:hover
      .action
        .delete
          background-color: red

    .gridster-item
      margin-top: -$padding !important
      background-color: lighten(rgb(255,152,25), 5%)
      border-radius: $padding
      // border: 1px solid darken(rgb(255,231,189), 10%)

      .action
        position: absolute
        right: 0px
        top: 0px
        padding: 0.7rem

        .delete
          color: white
          padding: 0.3rem
          line-height: 1
          height: auto
          font-size: 0.9rem
          font-weight: bold
          font-family: "quark"
          background-color: rgb(150,150,150)

          i
            font-size: 0.9rem

      .label
        padding: 1rem
        text-align: left
        font-weight: bold
        font-family: "quark"
        color: white
        font-size: 1rem


