<div  class="appointment-select-card card"
      ng-class="{selected: my.selected}">
  <div class="card-content">
    <h4 class="appointment-date">
      {{my.datetime | amDateFormat:'ddddที่ Do MMMM YYYY'}}
    </h4>

    <div class="appointment-time">
      <h2>{{my.datetime | amDateFormat:'H:mm'}} น.</h2>
    </div>

    <h4 class="doctor-name">
      {{my.doctor.firstname}} {{my.doctor.lastname}}
    </h4>
  </div>
  <div class="card-action">
    <button
      href="#" class="btn-flat quark bold booking-button"
      ng-click="my.toggleSelect()"
      ng-disabled="my.selecting || my.disabled">
      <i class="fa fa-heart"></i>
      <span ng-if="!my.selecting && !my.selected">เลือก</span>
      <span ng-if="!my.selecting && my.selected">เลือกแล้ว</span>
      <span ng-if="my.selecting">รอซักครู่</span>
    </button>
  </div>
</div>
