<div class="appointment-modal modal">
  <div class="modal-header">

    <h4 class="title">
      นัดหมายกับ คุณ,
      <span ng-bind="my.patient.firstname"></span>
      <span ng-bind="my.patient.lastname"></span>
    </h4>

    <button
      class="modal-close close-button btn-flat">
      <i class="fa fa-close"></i>
    </button>

    <button ng-click="my.patientToPharmacist()"
            class="next-button modal-action waves-effect waves-light btn quark bold">
      <span>ระบุให้้ไปรับยา</span>
    </button>

    <button ng-click="my.closeModal()"
            class="next-button modal-action waves-effect waves-light btn quark bold">
      <span>ตรวจเสร็จ (ไม่ต้องรับยา)</span>
    </button>

    <div style="clear: both;"></div>

  </div>

  <div class="modal-content">

    <div class="patient-name row">

      <div class="col s12">
        <div class="avatar"></div>
        <h4 class="name">
          <span ng-bind="my.patient.firstname"></span>
          <span ng-bind="my.patient.lastname"></span>
        </h4>
      </div>

    </div>

    <!-- patient info -->
    <div class="patient-info row">

      <div class="patient-info-left col s6">
        <span class="personal-id">
          <strong>เลขประจำตัวประชาชน</strong> -
          <span ng-bind="my.patient.personal_id"></span>
        </span>

        <br>

        <span class="gender">
          <strong>เพศ</strong> -
          <span ng-bind="my.patient.gender"></span>
        </span>

        <span class="nationality">
          <strong>เชื้อชาติ</strong> -
          <span ng-bind="my.patient.nationality"></span>
        </span>

        <span class="religion">
          <strong>ศาสนา</strong> -
          <span ng-bind="my.patient.religion"></span>
        </span>

        <br>

        <span class="address">
          <strong>ที่อยู่</strong> -
          <span ng-bind="my.patient.address"></span>
        </span>

        <br>

        <span class="tel">
          <strong>โทร</strong> -
          <span ng-bind="my.patient.tel"></span>
        </span>

        <br>

        <span class="email">
          <strong>อีเมล</strong> -
          <span ng-bind="my.patient.email"></span>
        </span>
      </div>

      <div class="patient-info-right col s6">

        <div class="patient-report row">
          <div class="height col s4">
            <strong>ส่วนสูง</strong>
            <br>
            <span>{{my.patient.patientReport.height}} ซม.</span>
          </div>
          <div class="weight col s4">
            <strong>น้ำหนัก</strong>
            <br>
            <span>{{my.patient.patientReport.weight}} กก.</span>
          </div>
          <div class="pressure col s4">
            <strong>ความดัน</strong>
            <br>
            <span>{{my.patient.patientReport.pressure}}</span>
          </div>
        </div>

        <span class="drug-allergic">
          <div
            ng-if="!my.drugAllergicEditing">
            <p>
              <strong>ยาที่แพ้</strong> - {{my.drugAllergic}}
            </p>

            <button
              ng-click="my.drugAllergicStartEdit()"
              class="btn orange edit-button">
              <i class="fa fa-edit"></i>
              แก้ไขยาที่แพ้
            </button>
          </div>

          <div
            ng-if="my.drugAllergicEditing"
            class="drug-allergic-edit animated bounceIn">
            <div input-field>
              <input
                ng-model="my.sandbox.drugAllergic"
                ng-disabled="my.editDrugAllergic.loading"
                type="text"
                class="validate"
                id="drugAllergic"
                required>
              <label for="drugAllergic">ยาที่แพ้</label>
            </div>

            <div class="actions">
              <button
                ng-click="my.drugAllergicSubmitEdit(my.sandbox.drugAllergic)"
                ng-disabled="my.editDrugAllergic.loading"
                class="btn green">
                <span ng-show="!my.editDrugAllergic.loading">
                  แก้ไข
                </span>

                <span ng-show="my.editDrugAllergic.loading">
                  <i class="fa fa-spin fa-circle-o-notch"></i>
                  รอซักครู่
                </span>
              </button>

              <button
                ng-click="my.drugAllergicCancelEdit()"
                ng-disabled="my.editDrugAllergic.loading"
                class="btn red">
                <span>ยกเลิก</span>
              </button>
            </div>
          </div>

        </span>
      </div>

    </div>

    <!-- patient deeper info -->
    <div class="row">

      <!-- drug info -->
      <div class="col s6">

        <doctor-drug-list
          drugs="my.drugs"
          add-drug="my.addDrug"
          edit-drug="my.editDrug"
          delete-drug="my.deleteDrug"
          create-drug-fn="my.drugAdd(drug)"
          edit-drug-fn="my.drugEdit(drug)"
          delete-drug-fn="my.drugDelete(drug)"></doctor-drug-list>

      </div>

      <!-- symtoms info -->
      <div class="col s6">

        <doctor-symtom-list
          symptoms="my.symptoms"
          add-symptom="my.addSymptom"
          edit-symptom="my.editSymptom"
          delete-symptom="my.deleteSymptom"
          create-symptom-fn="my.symptomAdd(symptom)"
          edit-symptom-fn="my.symptomEdit(symptom)"
          delete-symptom-fn="my.symptomDelete(symptom)"></doctor-symtom-list>

      </div>
    </div>

  </div>
</div>
