<div class="appointment-modal modal">
  <div class="modal-header">

    <h4 class="title">
      นัดหมายกับ คุณ,
      <span ng-bind="my.patient.firstname"></span>
      <span ng-bind="my.patient.lastname"></span>
    </h4>

    <button
      class="modal-close close-button btn-flat">
      <i class="fa fa-close"></i>
    </button>

    <button ng-click="my.patientToPharmacist()"
            class="next-button modal-action waves-effect waves-light btn quark bold">
      <span>ระบุให้้ไปรับยา</span>
    </button>

    <button ng-click="my.closeModal()"
            class="next-button modal-action waves-effect waves-light btn quark bold">
      <span>ตรวจเสร็จ (ไม่ต้องรับยา)</span>
    </button>

    <div style="clear: both;"></div>

  </div>

  <div class="modal-content">

    <div class="patient-name row">

      <div class="col s12">
        <div class="avatar"></div>
        <h4 class="name">
          <span ng-bind="my.patient.firstname"></span>
          <span ng-bind="my.patient.lastname"></span>
        </h4>
      </div>

    </div>

    <!-- patient info -->
    <div class="patient-info row">

      <div class="patient-info-left col s6">
        <span class="personal-id">
          <strong>เลขประจำตัวประชาชน</strong> -
          <span ng-bind="my.patient.personal_id"></span>
        </span>

        <br>

        <span class="gender">
          <strong>เพศ</strong> -
          <span ng-bind="my.patient.gender"></span>
        </span>

        <span class="nationality">
          <strong>เชื้อชาติ</strong> -
          <span ng-bind="my.patient.nationality"></span>
        </span>

        <span class="religion">
          <strong>ศาสนา</strong> -
          <span ng-bind="my.patient.religion"></span>
        </span>

        <br>

        <span class="address">
          <strong>ที่อยู่</strong> -
          <span ng-bind="my.patient.address"></span>
        </span>

        <br>

        <span class="tel">
          <strong>โทร</strong> -
          <span ng-bind="my.patient.tel"></span>
        </span>

        <br>

        <span class="email">
          <strong>อีเมล</strong> -
          <span ng-bind="my.patient.email"></span>
        </span>
      </div>

      <div class="patient-info-right col s6">

        <div class="patient-report row">
          <div class="height col s4">
            <strong>ส่วนสูง</strong>
            <br>
            <span>170 ซม.</span>
          </div>
          <div class="weight col s4">
            <strong>น้ำหนัก</strong>
            <br>
            <span>67 กก.</span>
          </div>
          <div class="pressure col s4">
            <strong>ความดัน</strong>
            <br>
            <span>140/70</span>
          </div>
        </div>

        <span class="drug-allergic">
          <strong>ยาที่แพ้</strong> - Adenaline Peptide 500 mg., Amoxcillin
        </span>
      </div>

    </div>

    <!-- patient deeper info -->
    <div class="row">

      <!-- drug info -->
      <div class="col s6">

        <doctor-drug-list
          drug-list=""></doctor-drug-list>

      </div>

      <!-- symtoms info -->
      <div class="col s6">

        <doctor-symtom-list
          symtom-list=""></doctor-symtom-list>

      </div>
    </div>

  </div>
</div>
