<!-- step 1 - select doctors  -->
<div class="make-appointment-modal modal">
  <div class="modal-header orange">
    <button
      class="close-button modal-close btn-flat">
      <i class="fa fa-close"></i>
    </button>

    <h4 class="title bold quark col s12">นัดหมายแพทย์</h4>

  </div>

  <div class="modal-content">

    <div class="row">

      <!-- docotr search -->
      <div
        class="search-doctor-name col s6">
        <h5 class="search-title">ค้นหาจากชื่อแพทย์</h5>
        <doctor-search
          ng-class="{focused: my.searchingMethod === 'doctor'}"
          name="my.doctorSearcher"
          on-change="my.changeSearchingMethod('doctor')"></doctor-search>
      </div>

      <!-- specialty select -->
      <div
        class="select-by-specialty col s6">
        <h5 class="search-title">ค้นหาจากความถนัดของแพทย์</h5>
        <specialty-select
          ng-class="{focused: my.searchingMethod === 'specialty'}"
          name="my.specialtySelector"
          on-change="my.changeSearchingMethod('specialty')"></specialty-select>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button ng-click="my.findOptions()"
            ng-disabled="my.findingOptions || !my.isSelected()"
            class="modal-action orange btn quark bold">
      <span ng-if="!my.findingOptions">ค้นหาเวลานัดหมาย</span>
      <span ng-if="my.findingOptions">รอซักครู่</span>
    </button>
  </div>
</div>

<!-- step 2 - select appointment -->
<appointment-select
  name="my.appointmentSelector"
  title="my.appointmentSelectorTitle"
  on-back="my.showModal()"
  on-appointment-made="my.onAppointmentMade()"
  possible-appointments="my.possibleAppointments"></appointment-select>
