.make-appointment-modal

  overflow: visible

  .modal-content
    $light-grey: rgb(180,180,180)
    .close-button
      color: $light-grey
      position: absolute
      right: 0px

    .close-button:active, .close-button:focus
      background-color: transparent

    .close-button:hover
      color: darken($light-grey, 10%)

    .title
      margin: 1rem 0rem

    .search-title
      font-size: 1rem
      font-weight: bold
      font-family: quark
      color: lighten(black, 40%)

    .search-doctor-name.selected
      background-color: rgb(255,255,255)

    .select-by-specialty.selected
      background-color: rgb(255,255,255)

  .modal-footer
    text-align: center

    .btn
      margin: 0rem 3rem 3rem 3rem
