<!-- step 1 - select doctors  -->

<div class="make-appointment-modal modal">
  <div class="modal-content">

    <button
      class="close-button modal-close btn-flat">
      <i class="fa fa-close"></i>
    </button>

    <div class="row">
      <h4 class="bold quark col s12">ค้นหานัดหมายแพทย์</h4>

      <div class="search-doctor-name col s6">
        <doctor-search
          name="my.doctorSearcher"></doctor-search>
      </div>

      <div class="select-by-specialty col s6">
        <specialty-select
          name="my.specialtySelector"></specialty-select>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <div class="row">
      <button ng-click="my.findOptions()"
              ng-disabled="my.findingOptions"
              class="modal-action waves-effect waves-light btn quark bold">
        <span ng-if="!my.findingOptions">ค้นหาเวลานัด</span>
        <span ng-if="my.findingOptions">รอซักครู่</span>
      </button>
    </div>
  </div>
</div>

<!-- step 2 - select appointment -->
<appointment-select
  name="my.appointmentSelector"
  on-back="my.showModal()"
  possible-appointments="my.possibleAppointments"></appointment-select>
