.appointment-select

  $orange: rgb(254,163,0)
  $grey: rgb(66,66,66)

  overflow: hidden

  .modal-header
    padding: 1rem

  .modal-content
    width: 100%
    overflow-x: scroll
    overflow-y: hidden

    .appointment-card-wrapper
      white-space: nowrap


  .back-button
    float: left

  .title
    float: left
    margin: 0px
    color: white
    letter-spacing: 1px
    font-size: 1.1rem
    line-height: 36px
    font-weight: bold
    font-family: 'quark'
    padding: 0rem 1rem

  .next-button
    float: right

  .close-button
    float: right
    color: $grey
    padding: 0rem 1rem

  .close-button:active, .close-button:focus
    background-color: transparent

  .close-button:hover
    color: darken($grey, 10%)
