<div class="appointment-select modal">
  <div class="modal-header">
    <button ng-click=""
            class="back-button modal-action waves-effect waves-light btn quark bold">
      กลับไปแก้ไข
    </button>



    <button ng-click=""
            class="close-button btn-flat">
      <i class="fa fa-close"></i>
    </button>

    <button ng-click="my.submitAppointment()"
            class="next-button modal-action waves-effect waves-light btn quark bold">
      ยืนยันการจอง
    </button>

    <div style="clear: both;"></div>

  </div>

  <div class="modal-content">
    <div class="appointment-card-wrapper">
      <appointment-select-card
        ng-repeat="appointment in my.possibleAppointments"
        datetime="appointment.datetime"
        doctor="appointment.doctor"
        on-click="my.select(my.appointmentSelectCards[$index])"
        name="my.appointmentSelectCards[$index]"></appointment-select-card>
    </div>
  </div>
</div>
