<div id="register-page-wrapper" class="container">
	<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input ng-model="register.firstname" type="text" class="validate">
          <label for="firstname">ชื่อ</label>
        </div>
        <div class="input-field col s6">
          <input ng-model="register.lastname" type="text" class="validate">
          <label for="lastname">นามสกุล</label>
        </div>
        <div class="input-field col s12">
           <input ng-model="register.address" type="text" class="validate">
           <label for="address">ที่อยู่</label> 
        </div>
        <div class="input-field col s12">
           <input ng-model="register.telephone" type="text" class="validate">
           <label for="telephone">เบอร์โทร</label> 
        </div>
        <div class="input-field col s12">
           <input ng-model="register.email" type="text" class="validate">
           <label for="email">อีเมลล์</label> 
        </div>
        <div class="input-field col s6">
            <select>
              <option value="" disabled selected></option>
              <option value="​male">ชาย</option>
              <option value="female">หญิง</option>
            </select>
            <label>เพศ</label>
        </div>
        <div class="input-field col s6">
            <select>
              <option value="" disabled selected></option>
              <option value="​thai">ไทย</option>
              <option value="other_nation">อื่นๆ</option>
            </select>
            <label>เชื้อชาติ</label>
        </div>
         <div class="input-field col s6">
            <select>
              <option value="" disabled selected></option>
              <option value="​buddha">พุทธ</option>
              <option value="christ">คริสต์</option>
              <option value="​islam">อิสลาม</option>
              <option value="​other_religion">อื่นๆ</option>
            </select>
            <label>ศาสนา</label>
        </div>
        <div class="input-field col s6">
            <select>
              <option value="" disabled selected></option>
              <option value="​a">A</option>
              <option value="​b">B</option>
              <option value="​ab">AB</option>
              <option value="​o">O</option>
              <option value="​other_blood">อื่นๆ</option>
            </select>
            <label>กรุ๊ปเลือด</label>
        </div>
        <div class="input-field col s12">
           <input ng-model="register.pid" type="text" class="validate">
           <label for="pid">เลขประจำตัวประชาชน</label> 
        </div>
        <div class="input-field col s6">
           <input ng-model="register.password" type="password" class="validate">
           <label for="email">รหัส</label> 
        </div>
        <div class="input-field col s6">
           <input ng-model="register.cpassword" type="password" class="validate">
           <label for="email">ยืนยันรหัสผ่าน</label> 
        </div>
    </form>
    <button class="amber darken-3 btn-large" ng-click="register.regis()" style="margin-left:37%">ลงทะเบียน</button>
    <div style="margin-top:30px">
    <span style="margin-left:30%">เคยลงทะเบียนแล้ว? </span>
    <login-modal name="register.loginModal"></login-modal>
    <a href="" ng-click="register.loginModal.show()">เข้าสู่ระบบได้เลย</a>
  </div>
  </div>
</div>
        
