<!-- make appointment modal -->
<make-appointment-modal
  name="my.appointmentModal"
  on-appointment-made="my.onAppointmentMade()"></make-appointment-modal>

<div id="patient-page-wrapper">
  <div class="jumbotron section no-pad-bot orange animated fadeIn" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="title header center white-text">
        สวัสดี,
        <small>คุณ {{my.userInfo.firstname}} {{my.userInfo.lastname}}</small>
      </h1>
      <div class="row center">
        <a
          href=""
          ng-click="my.appointmentModal.showModal()"
          class="action-btn btn-large waves-effect waves-light white orange-text">
          นัดหมายแพทย์
        </a>

        <a ui-sref="home" class="action-btn btn-large waves-effect waves-light white orange-text">
          กลับไปหน้าแรก
          <small>(ยังคงอยู่ในระบบ)</small>
        </a>

        <a
          href=""
          ng-click="my.logout()"
          ng-disabled="my.loggingOut"
          class="action-btn btn-large waves-effect waves-light white orange-text">
          <span ng-show="!my.loggingOut">ออกจากระบบ</span>
          <span ng-show="my.loggingOut">รอซักครู่</span>
        </a>
      </div>

    </div>
  </div>

  <div class="body">

      <div class="container">

        <div class="user-info row">

          <div class="col s12">
            <!-- <div class="action">
              <button
                class="btn orange">
                <i class="fa fa-edit"></i>
                แก้ไข
              </button>
            </div> -->

            <h4 class="title">ข้อมูลส่วนตัว</h4>

            <span class="personal-id">
              <strong>เลขประจำตัวประชาชน</strong> -
              <span ng-bind="my.userInfo.personal_id"></span>
            </span>

            <br>

            <span class="gender">
              <strong>เพศ</strong> -
              <span ng-bind="(my.userInfo.gender | gender)"></span>
            </span>

            <span class="nationality">
              <strong>เชื้อชาติ</strong> -
              <span ng-bind="(my.userInfo.nationality | nationality)"></span>
            </span>

            <span class="religion">
              <strong>ศาสนา</strong> -
              <span ng-bind="(my.userInfo.religion | religion)"></span>
            </span>

            <br>

            <span class="address">
              <strong>ที่อยู่</strong> -
              <span ng-bind="my.userInfo.address"></span>
            </span>

            <br>

            <span class="tel">
              <strong>โทร</strong> -
              <span ng-bind="my.userInfo.tel"></span>
            </span>

            <br>

            <span class="email">
              <strong>อีเมล</strong> -
              <span ng-bind="my.userInfo.email"></span>
            </span>
          </div>

        </div>

        <div class="appointments row">
          <div class="col s12">

            <h4 class="title">นัดหมายทั้งหมด</h4>
            <div class="appointments-wrapper-card card">
              <h4
                ng-if="my.loadingUserInfo"
                class="loading animated bounceIn">กำลังโหลด... รอซักครู่</h4>

              <h4
                ng-if="my.userInfo.appointments.length === 0"
                class="loading">
                คุณยังไม่มีนัดหมาย
                <a
                  href=""
                  ng-click="my.appointmentModal.showModal()">นัดหมายแพทย์ตอนนี้!
                </a>
              </h4>

              <ul class="collection"
                ng-if="my.userInfo.appointments.length > 0">

                <li
                  ng-repeat="each in my.userInfo.appointments | orderBy: 'appointment.time' | filter: my.isFuture"
                  ng-class="{now: my.isToday(each.appointment.time)}"
                  class="collection-item avatar">

                  <div class="actions">
                    <button class="btn red"
                      ng-click="my.deleteAppointment(each.appointment)">
                      ลบ
                    </button>
                  </div>

                  <delete-appointment-modal
                    name="my.deleteAppointmentModals[each.appointment.appointment_id]"
                    appointment="each.appointment"
                    on-appointment-deleted="my.onAppointmentDeleted()"></delete-appointment-modal>

                  <i class="time circle">
                    {{each.appointment.time | amDateFormat:'H:mm'}}
                  </i>
                  <span class="title">
                    <small>นัดหมายกับ</small>
                    {{each.doctor.firstname}} {{each.doctor.lastname}}
                  </span>

                  <p>
                    <span class="date">
                      <span ng-show="my.isToday(each.appointment.time)">วันนี้</span>
                      <span ng-show="!my.isToday(each.appointment.time)">
                        {{each.appointment.time | amDateFormat:'ddddที่ Do MMMM YYYY'}}
                      </span>
                    </span>
                  </p>
                </li>

                <li
                  ng-repeat="each in my.userInfo.appointments | orderBy: 'appointment.time' | filter: my.isPast"
                  ng-class="{now: my.isToday(each.appointment.time)}"
                  class="collection-item avatar old">

                  <i class="time circle">
                    {{each.appointment.time | amDateFormat:'H:mm'}}
                  </i>
                  <span class="title">
                    <small>นัดหมายกับ</small>
                    {{each.doctor.firstname}} {{each.doctor.lastname}}
                  </span>

                  <p>
                    <span class="date">
                      <span ng-show="my.isToday(each.appointment.time)">วันนี้</span>
                      <span ng-show="!my.isToday(each.appointment.time)">
                        {{each.appointment.time | amDateFormat:'ddddที่ Do MMMM YYYY'}}
                      </span>
                    </span>
                  </p>
                </li>

              </ul>

            </div>

          </div>


        </div>


      </div>

  </div>

</div>
