  <div id="sregister-page-wrapper" class="container">
	<form>
 	<img src="../../images/BlankFace.jpg" height="200px"><img>
 	<input type="file" ng-model="Sregister.form.photo"></input>
 	<div>เลือกภาพ</div>
 	<div><span>ร้องขอตำแหน่ง</span>
 		<span>ความถนัดเฉพาะ(แพทย์)</span>
 	</div>
 	<input type="text" ng-model="Sregister.role"></input>
 	<input type='text' ng-model="Sregister.specialist"></input>
 	<div>
 		<span>ชื่อ</span>
 		<span>นามสกุล</span>
 	</div>
 
 		<input type='text' ng-model="Sregister.firstname"></input>
 		<input type='text' ng-model="Sregister.lastname"></input>
 	<div>เบอร์โทรศัพท์</div>
 	<input type='text' ng-model="Sregister.telephone"></input>
 	<div>อีเมลล์</div>
 	<input type='text' ng-model="Sregister.email"></input>
 	
 	<div>ยูสเซอร์เนม</div>
 	<input type='text' ng-model="Sregister.uid" length="10"></input>
 	<div>
 		<span>รหัสผ่าน</span>
 		<span>ยืนยันรหัสผ่าน</span>
 	</div>
 	<input ng-model="Sregister.password" type="password"></input>
 	<input ng-model="Sregister.cpassword" type="password"></input>
 	</form>
 	</br>
 	<a class="amber darken-3 btn-large" ng-click="Sregister.regis()">ส่งคำร้อง</a>
</div>

